.back-btn {
  margin: 3rem 0;
  width: fit-content;
}
.quiz-page {
  width: 60vw;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem 0;
}

.quizzes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.score-text {
  color: var(--secondary-text-color);
  margin: 1rem 0;
  font-size: 2.6rem;
}

.btn-check-answers.warning {
  background-color: #c92a2a;
}

@media screen and (max-width: 900px) {
  .quiz-page {
    width: 100%;
  }
}
