.back-btn {
  margin: 3rem 0;
  width: fit-content;
}
.quiz-page {
  width: 60vw;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem 0;
}

.quizzes-container {
  display: flex;
  flex-direction: column;
}

.score-text {
  margin: 1rem 0;
  font-size: 2.6rem;
}

.modal-btns {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.play-again-modal {
  background-color: white;
  text-align: left;
  padding: 2rem;
  width: 30rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.twitter-share-button {
  text-align: center;
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
  color: white;
}

.twitter-share-button:hover {
  background-color: #1da1f2;
}

.modal-back {
  margin: 0;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 900px) {
  .quiz-page {
    width: 100%;
  }
  .modal {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .play-again-modal {
    width: 90%;
  }
}
