.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title h1,
.title p {
  color: var(--secondary-text-color);
}

.quiz-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 3rem;
  text-align: left;
  gap: 1rem;
}

.quiz-form label {
  color: var(--tooltip-text-color);
  font-weight: 500;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-bottom-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quiz-form select,
.quiz-form input {
  color: var(--secondary-text-color);
  padding: 0.5rem 0;
  font-size: 1.2rem;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  .quiz-form {
    margin-top: 1rem;
  }

  .title h1 {
    font-size: 2rem;
  }
}
