@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  background: none;
  color: #293264;
  border: none;
  padding: 0;
  list-style: none;
  margin: 0;
}

body {
  background-color: #f5f7fb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  line-height: 19px;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  width: 15rem;
  background-color: #4d5b9e;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #6470ac;
}

.start-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  align-items: center;
  padding: 2rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.start-btn {
  margin-top: 1rem;
  border-radius: 5px;
}

/* QUIZZES */

.quiz-page {
  width: 60vw;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem 0;
}

.quizzes-container {
  display: flex;
  flex-direction: column;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dbdef0;
}

.quiz-question {
  font-weight: 700;
  font-size: 1.6rem;
}

.quiz-answers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.quiz-answer-btn,
.back-btn {
  border-radius: 15px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: solid 1px #4d5b9e;
  transform: scale(1);
  transition: all 0.3s ease;
}

.quiz-answer-btn.active {
  border: 1px solid transparent;
  background-color: #d6dbf5;
}

.quiz-answer-btn:active {
  transform: scale(0.95);
}

.quiz-answer-btn:hover,
.back-btn:hover {
  background-color: #d6dbf5;
}

.btn-check-answers {
  width: 25rem;
  margin: 2rem auto;
}

/* Back Button */

.back-btn {
  margin: 3rem 0;
  width: fit-content;
}

/* quiz-form */

.quiz-form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  text-align: left;
  gap: 1rem;
}

.quiz-form label {
  color: #6470ac;
  font-weight: 500;
}

#select-difficulty {
  font-size: 1.2rem;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .start-container {
    width: 100%;
  }
  .quiz-page {
    width: 100%;
    text-align: center;
  }

  .quiz-answers {
    justify-content: center;
  }

  .btn-check-answers {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .start-btn {
    width: 90%;
  }
}
