@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  background: none;
  color: #293264;
  border: none;
  padding: 0;
  list-style: none;
  margin: 0;
}

body {
  background-color: #f5f7fb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  line-height: 19px;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: #4d5b9e;
  transition: all 0.3s ease;
}

/* Outlined Buttons */

.btn-outline {
  border-radius: 15px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: solid 1px #4d5b9e;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: #d6dbf5;
}

/* Hover Effects for buttons */

.btn:hover {
  background-color: #6470ac;
}

.btn-hv {
  transform: unset;
}

.btn-hv:hover {
  transform: translateY(-10%);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.btn-hv:active {
  transform: unset;
}
