@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;500;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  background: none;
  color: #293264;
  border: none;
  padding: 0;
  list-style: none;
  margin: 0;
}

body {
  background-color: #f5f7fb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
  line-height: 19px;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: #4d5b9e;
  transform: translateY(0);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #6470ac;
  transform: translateY(-10%);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.btn:active {
  transform: translateY(0);
}

/* QUIZZES */

.quiz-page {
  width: 60vw;
  gap: 2rem;
  padding: 1rem;
  margin: 2rem 0;
}

.quizzes-container {
  display: flex;
  flex-direction: column;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #dbdef0;
}

.quiz-question {
  font-weight: 700;
  font-size: 1.2rem;
}

.quiz-answers {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.quiz-answer-btn,
.back-btn {
  border-radius: 15px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: solid 1px #4d5b9e;
  transform: translateY(0%);
  transition: all 0.3s ease;
}

.quiz-answer-btn:hover,
.back-btn:hover {
  background-color: #d6dbf5;
  transform: translateY(-10%);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.08);
}

.quizzes-container.checked .quiz-answer-btn {
  opacity: 0.5;
}

.quiz-answer-btn.active {
  border: 1px solid transparent;
  background-color: #d6dbf5;
}

.quiz-answer-btn:active {
  transform: translateY(0);
}

.correct {
  background-color: #94d7a2 !important;
  border: 1px solid transparent !important;
  opacity: unset !important;
}

.incorrect {
  background-color: #f8bcbc !important;
  border: 1px solid black !important;
}

.btn-check-answers {
  width: 100%;
  margin: 2rem 0;
}

/* Back Button */

.back-btn {
  margin: 3rem 0;
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .quiz-page {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .quiz-page {
    text-align: center;
  }
  .quiz-answers {
    justify-content: center;
  }
}
