.modal-btns {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.play-again-modal {
  color: var(--secondary-text-color);
  background-color: var(--primary-bg-color);
  text-align: left;
  padding: 2rem;
  width: 30rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.play-again-modal h2,
.play-again-modal p {
  color: var(--secondary-text-color);
}

.twitter-share-button {
  text-align: center;
  border: 1px solid #1da1f2;
  background-color: #1da1f2;
  color: white;
}

.twitter-share-button:hover {
  background-color: #1da1f2;
}

.modal-back {
  margin: 0;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 900px) {
  .modal {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .play-again-modal {
    width: 90%;
  }
}
